<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta prompt="viewport" content="width=device-width, initial-scale=1.0">
    <title>Python Autocompleter with Transformer</title>
</head>
<body>
    <h1>Python Autocompleter with Transformer</h1>
    <div>
        <form action="{{url_for('autocomplete')}}" method="POST">
            {{form.csrf_token}}
            {{form.prompt.label}}
            {{form.prompt()}}
            <br>
            {{form.submit()}}
        </form>
        <hr>
        {% if prompt %}
            Prompt  : {{prompt}}
            <br>
            Predict : {{code}}
        {% else %}
            No result
        {% endif %}
        <hr>
    </div>
</body>
</html>