<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Myanmar-English Translator</title>
</head>
<body>
    <h1>Myanmar-English Translator</h1>
    <div>
        <form action="{{url_for('translator')}}" method="POST">
            {{form.csrf_token}}
            {{form.source.label}}
            {{form.source()}}
            <br>
            {{form.submit()}}
        </form>
        <hr>
        {% if source %}
            Myanmar  : {{source}}
            <br>
            English : {{target}}
        {% else %}
            No result
        {% endif %}
        <hr>
    </div>
</body>
</html>