<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Python Autocompleter</title>
</head>
<body>
    <div>
        <form action="" method="POST">
            {{form.csrf_token}}
            {{form.name.label}}
            {{form.name()}}
            <br>
            {{form.submit()}}
        </form>
        <hr>
        {% if name %}
            Type    : {{name}}
            <br>
            Predict : {{code}}
        {% else %}
            Not Found
        {% endif %}
        <hr>
    </div>
    <a href="{{ url_for('home') }}" class="return-button button btn btn-primary">Return to Home</a>
</body>
</html>