<title>Resume Parser</title>

<div>
    <h1 id="homepage-header">Resume Parser</h1>
    <h2><i>by Myo Myint Maung</i></h2>
</div>

<div id="homepage-intro">
    <h4>This resume parser extracts skill and education information out of uploaded resumes (in PDF format only).</h4>
</div>

<div id="homepage-form">
    <h3>Upload Resume</h3>
    <form action="/upload_file" method="POST" enctype="multipart/form-data">
        <input type="file" id="File" name="File" accept=".pdf">
        <button type="submit" class="btn btn-secondary">Parse</button>
    </form>
</div>